@import "tailwindcss" source(".");

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/HelveticaNeueUltraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/HelveticaNeueUltraLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/HelveticaNeueLight.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/HelveticaNeueLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/HelveticaNeueRoman.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/HelveticaNeueItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/HelveticaNeueMedium.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/HelveticaNeueMediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/HelveticaNeueBold.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/HelveticaNeueBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/HelveticaNeueHeavy.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/HelveticaNeueHeavyItalic.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/JetBrainsMono-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/JetBrainsMono-Italic-VariableFont_wght.woff2") format("woff2");
}

@theme {
    --font-sans:
        "Helvetica Neue", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
